apiVersion: v1
kind: ConfigMap
metadata:
  name: noah-backend-config
  namespace: noah-dev
data:
  DJANGO_SETTINGS_MODULE: "noah_food.settings.dev"
  DJANGO_DEBUG: "1"
  DJANGO_ALLOWED_HOSTS: "*"

  POSTGRES_HOST: "postgres"
  POSTGRES_PORT: "5432"
  POSTGRES_DB: "noah"
  POSTGRES_USER: "noah"

  REDIS_HOST: "redis"
  REDIS_PORT: "6379"

  # Si luego expones dominio/https:
  DJANGO_CSRF_TRUSTED_ORIGINS: ""
  DJANGO_SECURE_SSL_REDIRECT: "0"
  DJANGO_SESSION_COOKIE_SECURE: "0"
  DJANGO_CSRF_COOKIE_SECURE: "0"
